* {
  font-size: 17px;
  margin: 0px;
  padding: 0px;
}
#bigcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 800px;
}
.secondmain {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 30%;
  margin: 20px;
}
.dimdiv {
  height: 60%;
}
.indiv {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10%;
}
.buttoncart {
  color: white;
  background-color: black;
  font-weight: bold;
  margin-right: 20px;
  width: 105px;
  height: 40px;
}
.buttonview {
  font-family: mulish;
  color: black;
  background-color: white;
  font-weight: bold;
  margin-right: 20px;
  width: 105px;
  height: 40px;
}
img {
  height: 100%;
}
.wild {
  font-size: 30px;
  font-family: mulish;
}
.longdesc {
  display: flex;

  font-family: mulish;
  width: 60%;
}
.heart {
  margin-left: 20px;
  color:lightgrey;
}
.heartred > span {
  margin-left: 20px;
  color: red;
}
.starh {
  height: 50px;
}
